@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/*
        Cores!!!
    1-#2b2d42
    2-#8d99ae
    3-#edf2f4
    4-#ef233c
    5-#d90429

        Fontes!!!

    1-font-family: 'Varela Round', sans-serif;
    2-
*/

/*
    Variaveis<------------------
*/
:root{
--cor1: #fff;
--cor2: #000;
--cor-principal:#2b2d42;
--cor-secundaria:#8d99ae;
--cor-meio:#edf2f4;
--cor-destaque:#ef233c;
--cor-destaque2:#d90429;

--fonte-principal: 'Varela Round', sans-serif;
--fonte-secundaria: 'Lilita One', sans-serif;;

}

/*
    Configuração de reset e padroes da pagina<------------------
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body{
    background-color: var(--cor-destaque2);

    height: 100vh;
    width: 100vw;
}

main{
    position: relative;

    height: 100vh;
    width: 100vw;

}


section#login{                                      /*    configuração tela login<------------------*/
    background-color: var(--cor-meio);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.568);
    height: 520px;
    width: 250px;
    border-radius: 30px;
    overflow: hidden;

    

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login > #imagem{                                   /*    imagem da tela de login<------------------*/
    display: block;
    background-image: url(../imagens/pexels-alex-conchillos-3648850.jpg);
    height: 200px;

    transition: .6s;
    transition-timing-function: ease;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}
#login #imagem:hover{                             /*    hover Imagem<------------------*/
    background-position: right bottom;
    transition: 3s;
}

#login > #forml{                                    /*   formulario<------------------*/
    display: block;
    padding: 10px;

}

#login > #forml > h1{                               /*    Cabeçalho<------------------*/
    text-align: center;
    color: var(--cor-destaque2);
    font-size: 1.2em;
    font-family: var(--fonte-principal);
}

#login > #forml > p{                               /*    Paragrafo<------------------*/
    font-size: .8em;
    text-align: left;
    font-family: var(--fonte-principal);

    padding: 5px;
}
.campo{                                            /*    formatação labels de texto<------------------*/
    background-color: var(--cor-principal);
    border-radius: 80px;
    width: 100%;
    height: 51px;
    margin: 5px 0;
}

.campo > label{
    display: none; /*nao esta sendo usado===========*/
    font-size: .9em;
    color: var(--cor1);
    padding-left: 5px;
}

.campo span{                                    /*    formatação icones - usuario e senha<------------------*/
    color: var(--cor-destaque);
    background-color: var(--cor1);
    border-radius: 50%;
    padding: 8px;
    border: 3px solid var(--cor-destaque);

    transform: translate(3px, 3px);
}

.campo input{                               /*          formatação da entrada de texto login e senha*/
    background-color: #ffffff;
    color: var(--cor-destaque2);

    width: calc(100% - 53px);
    height: 47px;
    padding-left: 5px;
    border-radius: 80px;
    border: none;
    
    transform: translate(1px, -4px);
}

form > input[type=submit]{                          /*    Botao entrar<------------------*/
    display: block;
    width: 100%;
    height: 50px;

    background-color: var(--cor-destaque2);
    color: var(--cor1);
    border-radius: 80px;
    border: 1px;

    font-size: 1.1em;
    
}

form > input[type=submit]:hover{                          /*    Botao entrar<------------------*/
    font-size: 1.2em;
    cursor: pointer;
    transition: .1s;
    
}

form >  a{                                          /*    Botao Esqueci Senha<------------------*/
    display: block;
    padding-top: 8px;
    margin-top: 5px;
    width: 100%;
    height: 50px;

    background-color: var(--cor1);
    color: var(--cor-destaque2);
    border-radius: 80px;
    border: 2px solid var(--cor-destaque2);
    
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;

}

form >  a:hover {                                   /*    hover Esqueci senha<------------------*/
    background-color: var(--cor-destaque);
    color: var(--cor1);
     
 }

form >  a > .material-symbols-outlined{             /*    icone Esqueci Senha<------------------*/
    display: inline-flex;
    transform: translate(-15%, 12%);
    font-size: 1.3em;
    right: 20%;
    
}


